{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if object %}Edit{% else %}Create{% endif %} Product</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>{% if object %}Edit{% else %}Create{% endif %} Product</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    <a href="{% url 'product_list' category.pk %}">Back to Product List</a>

</body>
</html>

