{% extends 'account/base.html' %}
{% load static %}
{% block content %}
  <div class="container mt-5">
    <h2 class="text-center mb-4 text-primary">Update Product: <strong>{{ product.name }}</strong></h2>

    {% if messages %}
      <div class="alert alert-info">
        <ul class="mb-0">
          {% for message in messages %}
            <li{% if message.tags %} class="alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <div class="card shadow-lg border-light rounded">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}

          {{ form.as_p }} <!-- This will display the form fields, including any error messages -->

          <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary btn-lg w-48">Update Product</button>
            <a href="{% url 'product_list' product.category.pk %}" class="btn btn-outline-secondary btn-lg w-48">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}



