{% extends 'account/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Sold Product List - {{ category.name }}</h2> <!-- Displaying the category name -->

    <div class="table-responsive">
        <table class="table table-bordered table-hover" style="width: 100%;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Note</th>


                </tr>
            </thead>
            <tbody>
                {% for product in sold_products %}
                    <tr>
                        <td style="color: black; font-weight: bold;">
                            {{ product.name }}
                        </td>
                        <td>
                            ${{ product.cost }}
                        </td>
                        <td>
                            {{ product.amount }}
                        </td>
                        <td>
                            {{ product.status }}
                        </td>
                        <td>
                            {{ product.note }}
                        </td>


                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No products sold in this category.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center mt-4">

        <a href="{% url 'category_list' pk=category.warehouse.pk %}" class="btn btn-lg custom-create-btn">Back to Categories List</a>
    </div>


</div>

<style>
    /* Style table for a larger look */
    .table {
        font-size: 1.1rem;
        width: 100%;
        margin: auto;
    }

    /* Button styles */
    .custom-sell-btn {
        background-color: #4CAF50;
        color: white;
        border-radius: 12px;
    }

    .custom-update-btn {
        background-color: #FFC107;
        color: white;
        border-radius: 12px;
    }

    .custom-delete-btn {
        background-color: #FF0000; /* Red color for the delete button */
        color: white;
        border-radius: 12px;
    }

    .custom-create-btn {
        background-color: #007BFF;
        color: white;
        border-radius: 20px;
        padding: 10px 20px;
    }

    /* Adjust container and list items */
    .container {
        max-width: 1000px; /* Make the container wider */
    }

    /* Add hover effects for buttons */
    .btn:hover {
        opacity: 0.9;
    }
</style>
{% endblock %}
