<!-- password_reset.html -->
{% extends 'account/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Reset Password</h1>

    <div class="card mx-auto shadow-sm p-4" style="max-width: 500px;">
        <form method="post">
            {% csrf_token %}

            <div class="form-group mb-3">
                <label for="old_password">Old Password</label>
                {{ form.old_password }}
            </div>

            <div class="form-group mb-3">
                <label for="new_password">New Password</label>
                {{ form.new_password }}
            </div>

            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'homepage' %}" class="btn btn-secondary">Back </a>
        </div>
    </div>
</div>
{% endblock %}

